# ===== SYSTEM FILE =====
.DS_Store
Thumbs.db

# ===== LOGS =====
*/logs/*
!*/logs/index.html

# ===== CACHE =====
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

# ===== CODEIGNITER 3 =====
application/logs/*
!application/logs/index.html
!application/logs/.htaccess

# ===== DEPENDENCIES =====
/vendor/

# ===== USER GUIDE BUILD =====
user_guide_src/build/
user_guide_src/cilexer/build/
user_guide_src/cilexer/dist/
user_guide_src/cilexer/pycilexer.egg-info/

# ===== ENV / CONFIG LOCAL (kalau ada nanti) =====
.env